.vs
.vscode
.codelite
.kdev4
.idea
Intermediate/*
Saved/*
Binaries/*
Plugins/*/Binaries/*
Plugins/*/Intermediate/*

Build/*

!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

Script/*
DerivedDataCache/*

/*.ignore
/tags
/Makefile
/*.code-workspace
/*.kdev4
/*.sln
/*.pro
/*.workspace
/*.txt
/*.pri

*_BuildData.uasset